@font-face {
	font-family: 'SDMiSaeng';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SDMiSaeng.eot');
	src: url('../fonts/SDMiSaeng.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SDMiSaeng.woff') format('woff'),
		 url('../fonts/SDMiSaeng.woff2') format('woff2'),
		 url('../fonts/SDMiSaeng.otf') format('opentype');
}

.lbl_sdmisaeng {
	font-family: SDMiSaeng; 
	font-size: 1.25rem;
}
.lbl_jejuhallasan {
	font-family: Jeju Hallasan; 
}
.lbl_jejugothic {
	font-family: Jeju Gothic; 
}
.lbl_jejumyeongjo {
	font-family: Jeju Myeongjo; 
}