/**
* SDMiSaeng (Korean)
*/

@font-face {
	font-family: 'SDMiSaeng';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SDMiSaeng.eot');
	src: url('../fonts/SDMiSaeng.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SDMiSaeng.woff') format('woff'),
		 url('../fonts/SDMiSaeng.woff2') format('woff2'),
		 url('../fonts/SDMiSaeng.otf') format('otf');
}
@font-face {
	font-family: 'SDMiSaeng';
	font-weight: normal;
	font-style: bold;
	src: url('../fonts/SDMiSaeng.eot');
	src: url('../fonts/SDMiSaeng.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SDMiSaeng.woff') format('woff'),
		 url('../fonts/SDMiSaeng.woff2') format('woff2'),
		 url('../fonts/SDMiSaeng.otf') format('otf');
}